
  </main>
  <footer class="site-footer full-bleed">
    <div class="container footer-grid">
      <div class="footer-brand">Logo AI/CRV</div>
      <div class="footer-column">
        <h3>Attending AI/CRV</h3>
        <ul>
          <li><a href="{{ site.baseurl }}/#program">Schedule</a></li>
          <li><a href="{{ site.baseurl }}/#venue">Venue</a></li>
          <li><a href="https://sfu.ungerboeck.net/prod/emc00/PublicSignIn.aspx?&aat=2b4f4836445a426d6a59775969304a6e4f6f4d48377864594a326e71783557612b6d4f39627057783459383d" target="_blank">Registration</a></li>
          <li><a href="{{ site.baseurl }}/#announcement">Announcement</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Calls for Contributions</h3>
        <ul>
          <li><a href="{{ site.baseurl }}/calls/papers-ai/">Calls for Papers</a></li>
          <li><a href="{{ site.baseurl }}/calls/workshops/">Calls for Workshops</a></li>
          <li><a href="{{ site.baseurl }}/calls/nectar-track/">Calls for Nectar Track Contributions</a></li>
          <li><a href="{{ site.baseurl }}/calls/demos/">Calls for Demos</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Program</h3>
        <ul>
          <li><a href="{{ site.baseurl }}/program/">Responsible AI</a></li>
          <li><a href="{{ site.baseurl }}/program/student-symposium/">Student Symposium</a></li>
          <li><a href="{{ site.baseurl }}/program/workshops/">Workshops</a></li>
          <li><a href="{{ site.baseurl }}/program/robots-vision/">Conference on Robots &amp; Vision</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h3>Organizers</h3>
        <ul>
          <li><a href="{{ site.baseurl }}/committee/">Conference Organizers</a></li>
          <li><a href="{{ site.baseurl }}/committee/workshop-organizers/">Workshop Organizers</a></li>
        </ul>
        <h3><a href="{{ site.baseurl }}/sponsorship/">Sponsorship</a></h3>
        <h3><a href="{{ site.baseurl }}/accommodation/">Accommodation</a></h3>
        <h3><a href="https://www.ai-crv.ca" target="_blank" rel="noopener">AI/CRV 2025 Conference Archive</a></h3>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <p>&copy; 2026 Canadian Artificial Intelligence Association</p>
      </div>
    </div>
  </footer>

  {%- include partials/modal_link.html -%}

  {%- if site.conference.live.streaming.enable -%}
    {%- include partials/modal_live.html -%}
  {%- endif -%}

  <!-- Append build time to avoid caching of live program embedded in JavaScript file -->
  <script src="{{ site.baseurl }}/assets/js/main.js?t={{ site.time | date: "%s" }}"></script>

</body>
</html>
