{% assign current_url = page.url %}
<div class="calls-tab-row">
  <a class="calls-tab{% if current_url contains '/program/ai' %} is-active{% endif %}" href="{{ site.baseurl }}/program/ai/">Canadian AI</a>
  <a class="calls-tab{% if current_url contains '/program/robots-vision' %} is-active{% endif %}" href="{{ site.baseurl }}/program/robots-vision/">Robots and Vision</a>
  <a class="calls-tab{% if current_url contains '/program/student-symposium' %} is-active{% endif %}" href="{{ site.baseurl }}/program/student-symposium/">Student Symposium</a>
  <a class="calls-tab{% if current_url contains '/program/social-events' %} is-active{% endif %}" href="{{ site.baseurl }}/program/social-events/">Social Events</a>
  <a class="calls-tab{% if current_url contains '/program/workshops' %} is-active{% endif %}" href="{{ site.baseurl }}/program/workshops/">Workshops</a>

</div>
